<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách môn học</title>
    <th:block th:replace="layout::link-css"></th:block>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding-top: 20px;
        }
        h2 {
            text-align: center;
            margin-bottom: 20px;
        }
        .btn-add {
            margin-bottom: 20px;
            display: flex;
            justify-content: flex-end;
        }
        .table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        .btn-action {
            display: inline-block;
            margin-right: 5px;
            padding: 6px 12px;
            border-radius: 5px;
            text-decoration: none;
            color: #fff;
        }
        .btn-edit {
            background-color: #28a745;
        }
        .btn-delete {
            background-color: #dc3545;
        }
    </style>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container mt-4">
    <form th:action="@{/monhoc}" method="get" class="mb-3">
        <div class="input-group">
            <input type="text" name="search" placeholder="Nhập tên môn học" class="form-control" th:value="${param.search}">
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </div>
    </form>
    <h2>Danh sách môn học</h2>
    <div class="btn-add">
        <a class="btn btn-primary" th:href="@{/monhoc/add}">Thêm mới</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Mã môn học</th>
            <th>Tên môn học</th>
            <th>Chức năng</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="monhoc : ${dsMonHoc}">
            <td th:text="${monhoc.maMon}"></td>
            <td th:text="${monhoc.tenMonHoc}"></td>
            <td>
                <a class="btn-action btn-edit" th:href="@{/monhoc/update/{id}(id=${monhoc.maMon})}">Sửa</a>
                <a class="btn-action btn-delete" th:href="@{/monhoc/delete/{id}(id=${monhoc.maMon})}" onclick="return confirm ('Bạn có muốn xoá?')">Xoá</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:replace="layout::footer"></th:block>
</body>
</html>
