<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cập nhật môn học</title>
    <th:block th:replace="layout::link-css"></th:block>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding-top: 20px;
        }
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }
        .form-label {
            font-weight: bold;
        }
        .form-control {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        .text-danger {
            color: #dc3545;
        }
        .btn-primary {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }
        .btn-primary:hover {
            background-color: #0056b3;
        }
        .btn-back {
            display: block;
            margin-top: 20px;
            text-align: center;
        }
        .btn-back a {
            color: #007bff;
            text-decoration: none;
        }
        .btn-back a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container">
    <h1>Cập nhật môn học</h1>
    <form th:action="@{'/monhoc/update/' + ${monHoc.maMon}}" th:object="${monHoc}" method="post">

        <div class="col-6 mb-3">
            <label class="form-label" for="maMon">Mã môn học: </label>
            <input readonly class="form-control" type="text" th:field="*{maMon}" id="maMon">
            <span th:if="${#fields.hasErrors('maMon')}" th:errors="*{maMon}" class="text-danger"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="tenMonHoc">Tên môn học: </label>
            <input class="form-control" type="text" th:field="*{tenMonHoc}" id="tenMonHoc">
            <span th:if="${#fields.hasErrors('tenMonHoc')}" th:errors="*{tenMonHoc}" class="text-danger"></span>
        </div>
        <input type="submit" class="btn btn-primary" value="Cập nhật">
    </form>
    <div class="btn-back">
        <a th:href="@{/monhoc}">Trở về</a>
    </div>
</div>
<th:block th:replace="layout::footer"></th:block>
</body>
</html>
