<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm lớp</title>
    <th:block th:replace="layout::link-css"></th:block>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding-top: 50px;
        }
        h1 {
            text-align: center;
            margin-bottom: 30px;
        }
        form {
            background-color: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }
        label {
            font-weight: bold;
        }
        input[type="text"] {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        input[type="submit"] {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #0056b3;
        }
        .text-danger {
            color: #dc3545;
        }
        .back-link {
            display: block;
            margin-top: 20px;
            text-align: center;
        }
        .back-link a {
            color: #007bff;
            text-decoration: none;
        }
        .back-link a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container">
    <h1>Thêm lớp mới</h1>
    <form th:action="@{/lop/add}" th:object="${lop}" method="post">
        <div class="form-group">
            <label for="maLop">Mã lớp:</label>
            <input disabled class="form-control" type="text" th:field="*{maLop}" id="maLop">
            <span th:if="${#fields.hasErrors('maLop')}" th:errors="*{maLop}" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="tenLop">Tên lớp:</label>
            <input class="form-control" type="text" th:field="*{tenLop}" id="tenLop">
            <span th:if="${#fields.hasErrors('tenLop')}" th:errors="*{tenLop}" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Thêm mới</button>
    </form>
    <div class="back-link">
        <a th:href="@{/lop}">Trở về</a>
    </div>
</div>
<th:block th:replace="layout::footer"></th:block>
</body>
</html>
