<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách lớp</title>
    <th:block th:replace="layout::link-css"></th:block>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding-top: 50px;
        }
        h2 {
            text-align: center;
            margin-bottom: 30px;
        }
        .btn-add {
            margin-bottom: 20px;
        }
        .table {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }
        th, td {
            padding: 15px;
            text-align: left;
        }
        .btn-update, .btn-delete {
            padding: 8px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .btn-update {
            background-color: #28a745;
            color: #fff;
        }
        .btn-delete {
            background-color: #dc3545;
            color: #fff;
        }
        .btn-update:hover, .btn-delete:hover {
            filter: brightness(85%);
        }
    </style>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container mt-4">
    <form th:action="@{/lop}" method="get" class="mb-3">
        <div class="input-group">
            <input type="text" name="search" placeholder="Nhập tên lớp" class="form-control" th:value="${param.search}">
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </div>
    </form>
    <h2>Danh sách lớp</h2>
    <a class="btn btn-primary btn-add" th:href="@{/lop/add}">Thêm mới</a>
    <table class="table">
        <thead>
        <tr>
            <th>Mã lớp</th>
            <th>Tên lớp</th>
            <th>Chức năng</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lop : ${dsLop}">
            <td th:text="${lop.maLop}"></td>
            <td th:text="${lop.tenLop}"></td>
            <td>
                <a class="btn btn-update" th:href="@{/lop/update/{id}(id=${lop.maLop})}">Sửa</a>
                <a class="btn btn-delete" th:href="@{/lop/delete/{id}(id=${lop.maLop})}" onclick="return confirm ('Bạn có muốn xoá?')">Xoá</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:replace="layout::footer"></th:block>
</body>
</html>
