<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cập nhật lớp</title>
    <th:block th:replace="layout::link-css"></th:block>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding-top: 50px;
        }
        h1 {
            text-align: center;
            margin-bottom: 30px;
        }
        .form-label {
            font-weight: bold;
        }
        .form-control {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
        .text-danger {
            color: red;
        }
        .btn-primary {
            display: block;
            width: 100%;
            padding: 10px;
            text-align: center;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .btn-primary:hover {
            background-color: #0056b3;
        }
        .btn-back {
            display: block;
            margin-top: 20px;
            text-align: center;
            text-decoration: none;
            color: #007bff;
            font-weight: bold;
            transition: color 0.3s ease;
        }
        .btn-back:hover {
            color: #0056b3;
        }
    </style>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container">
    <h1>Cập nhật lớp</h1>
    <form th:action="@{'/lop/update/' + ${lop.maLop}}" th:object="${lop}" method="post">

        <div class="col-6 mb-3">
            <label class="form-label" for="maLop">Mã lớp: </label>
            <input readonly class="form-control" type="text" th:field="*{maLop}" id="maLop">
            <span th:if="${#fields.hasErrors('maLop')}" th:errors="*{maLop}" class="text-danger"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="tenLop">Tên lớp: </label>
            <input class="form-control" type="text" th:field="*{tenLop}" id="tenLop">
            <span th:if="${#fields.hasErrors('tenLop')}" th:errors="*{tenLop}" class="text-danger"></span>
        </div>
        <input type="submit" class="btn btn-primary" value="Cập nhật">
    </form>
    <a class="btn-back" th:href="@{/lop}">Trở về</a>
</div>
<th:block th:replace="layout::footer"></th:block>
</body>
</html>
