<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm sinh viên</title>
    <th:block th:replace="layout::link-css"></th:block>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding-top: 20px;
        }
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }
        .form-label {
            font-weight: bold;
        }
        .form-control {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        .text-danger {
            color: #dc3545;
        }
        .form-select {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        .btn-primary {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }
        .btn-primary:hover {
            background-color: #0056b3;
        }
        .btn-back {
            display: block;
            margin-top: 20px;
            text-align: center;
        }
        .btn-back a {
            color: #007bff;
            text-decoration: none;
        }
        .btn-back a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container">
    <h1>Thêm sinh viên mới</h1>
    <form th:action="@{/sinhVien/add}" th:object="${sinhVien}" method="post">

        <div class="col-6 mb-3">
            <label class="form-label" for="mssv">Mã số sinh viên: </label>
            <input class="form-control" type="text" th:field="*{mssv}" id="mssv">
            <span th:if="${#fields.hasErrors('mssv')}" th:errors="*{mssv}" class="text-danger"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="hoTen">Họ và tên: </label>
            <input class="form-control" type="text" th:field="*{hoTen}" id="hoTen">
            <span th:if="${#fields.hasErrors('hoTen')}" th:errors="*{hoTen}" class="text-danger"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="ngaySinh">Ngày sinh: </label>
            <input class="form-control" type="date" th:field="*{ngaySinh}" id="ngaySinh">
            <span th:if="${#fields.hasErrors('ngaySinh')}" th:errors="*{ngaySinh}" class="text-danger"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="email">Email: </label>
            <input class="form-control" type="text" th:field="*{email}" id="email">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="lop">Lớp: </label>
            <select th:field="*{lop.maLop}" id="lop" class="form-select">
                <option th:each="lop : ${dsLop}" th:value="${lop.maLop}" th:text="${lop.tenLop}"></option>
            </select>
            <span th:if="${#fields.hasErrors('lop')}" th:errors="*{lop}" class="text-danger"></span>
        </div>
        <input type="submit" class="btn btn-primary" value="Thêm mới">
    </form>
    <div class="btn-back">
        <a th:href="@{/sinhVien}">Trở về</a>
    </div>
</div>
<th:block th:replace="layout::footer"></th:block>
</body>
</html>
