<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách sinh viên</title>
    <th:block th:replace="layout::link-css"></th:block>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding-top: 20px;
        }
        h2 {
            text-align: center;
            margin-bottom: 20px;
        }
        .btn-add {
            margin-bottom: 20px;
            text-align: right;
        }
        .btn-primary {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
        }
        .btn-primary:hover {
            background-color: #0056b3;
        }
        .table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        .table th, .table td {
            border: 1px solid #dee2e6;
            padding: 8px;
            text-align: center;
        }
        .table th {
            background-color: #007bff;
            color: #fff;
        }
        .table tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        .table tr:hover {
            background-color: #e9ecef;
        }
        .btn-action {
            margin-right: 5px;
        }
    </style>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container mt-4">
    <form th:action="@{/sinhVien}" method="get" class="mb-3">
        <div class="input-group">
            <input type="text" name="search" placeholder="Nhập tên sinh viên" class="form-control" th:value="${param.search}">
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </div>
    </form>
    <h2>Danh sách sinh viên</h2>
    <div class="btn-add">
        <a class="btn btn-primary" th:href="@{/sinhVien/add}">Thêm mới</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Mã số sinh viên</th>
            <th>Họ và Tên</th>
            <th>Ngày Sinh</th>
            <th>Email</th>
            <th>Lớp</th>
            <th>Chức năng</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sinhVien : ${dsSinhVien}">
            <td th:text="${sinhVien.mssv}"></td>
            <td th:text="${sinhVien.hoTen}"></td>
            <td th:text="${#dates.format(sinhVien.ngaySinh, 'dd/MM/yyyy')}"></td>
            <td th:text="${sinhVien.email}"></td>
            <td th:text="${sinhVien.lop?.tenLop}"></td>
            <td>
                <a class="btn btn-success btn-action" th:href="@{/sinhVien/update/{id}(id=${sinhVien.mssv})}">Sửa</a>
                <a class="btn btn-danger btn-action" th:href="@{/sinhVien/delete/{id}(id=${sinhVien.mssv})}" onclick="return confirm('Bạn có muốn xoá?')">Xoá</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:replace="layout::footer"></th:block>
</body>
</html>
